A crash when sip answer message is received when a call was already closed

Hello

I've recently encountered an issue where Baresip crashes. Below are the steps I used to reproduce the problem:

1. The user agent initiates a connection, and the remote peer answers.
2. Immediately after the call is initiated, the user agent closes the connection.
3. Although the connection wasn't fully established, the remote peer had already sent an answer, which was received by the call initiator.
4. The issue arises because the SIP response from the remote peer is received after the user agent has already closed the call.

Do you have any suggestions on where I should start investigating to fix the issue described above?

![image](https://github.com/user-attachments/assets/3490beb9-ff07-4358-9d99-ca99c14ae5a9)


Can you please supply some additional info like version info, config examples etc.

https://github.com/baresip/baresip/wiki/Guidelines-for-reporting-Issues

Feel free to reopen if you can provide more details. A normal sip call is very well tested and should not crash. Maybe a specific version, module or configuration is the issue.

Hello @sreimers 

Apologies for the delay in my response—I was occupied with other tasks. I've revisited this issue and believe I may have identified the root cause. In my opinion, the problem was introduced by this commit: https://github.com/baresip/re/pull/1099

In my case, the CANCEL message is not sent, but the remote peer sends a response that triggers the issue/crash. It seems that the request and transaction (ctrans) are being destroyed too early, without ensuring that the CANCEL message has been properly sent.



We need more details to reproduce, like version, config and a wireshark trace or baresip sip trace with `-sT` options would be helpful.

I'd like to provide a Wireshark trace and SIP trace, but I'm having difficulty capturing them on Android
I have to say that with the latest versions of Baresip and re, I can no longer reproduce the Baresip crash. However, the issue of the missing CANCEL message persists due to early termination of the request and/or ctrans. When I revert the changes from this commit https://github.com/baresip/re/pull/1099 , then the CANCEL message is sent correctly, as expected by a remote peer



We will check the mentioned commit. Maybe we could write a selftest that is able to reproduce this.

Thank you for the bug report! I have not been able to reproduce a crash.

Further, the missing CANCEL is intentional and a MUST according to [RFC 3261 section 9.1](https://www.rfc-editor.org/rfc/rfc3261#section-9.1):

```
   If no provisional response has been received, the CANCEL request MUST
   NOT be sent; rather, the client MUST wait for the arrival of a
   provisional response before sending the request.
```

This is exactly what I see BareSIP doing and I have added two new tests for testing this behavior:

- #3180

Hello @maximilianfridrich 

I’m also unable to reproduce the crash also after I switched to the latest Baresip/re versions. 
Thank you for providing the RFC link. If it’s acceptable not to send a CANCEL message before the remote answers the call (or initiator of a call receives an answer msg), how a remote is informed that the call was hung up by the initiator?

In almost all cases the CANCEL will be sent. The CANCEL is only omitted when no provisional response has been received yet from the peer. In practice this means that a user would have to cancel the call very quickly (under normal network conditions a 1XX is received within a few hundred milliseconds at most) for the CANCEL to be omitted. If no provisional response was received, we usually have to assume that the peer is not reachable anyways. And this problem only really occurs when using UDP, which per definition is unreliable.

It looks like things are working as they should, so I suggest we close this one.

If you still have problems, you can run the client on a Linux or MacOS machine,
it might be easier to get logs and backtrace.


Alfred

If it helps anything, latest version of my Android app can produce debug log including SIP trace to a file.

> The CANCEL is only omitted when no provisional response has been received yet from the peer. In practice this means that a user would have to cancel the call very quickly for the CANCEL to be omitted (under normal network conditions a 1XX is received within a few hundred milliseconds at most).

@maximilianfridrich it's true that on WiFi or LTE networks, this issue is nearly impossible for a human to reproduce. However, on 2G networks or 3G with weak coverage, users are likely to encounter it. As you mentioned, the issue can be reproduced by hanging up a call before the provisioning is complete. On my 2G network, latency ranges are from 30 to 1000 ms per request so the problem of skipped CANCEL msg exists 

Please create a new issue if you can reproduce this and provide logs.

You can use Discussions forum for relevant discussions.
