no ACK to re-INVITE 200 OK

Just noticed that when today's baresip main send re-INVITE (hold) and gets back 200 OK, it does not confirm it with ACK (see below).  Has some changes made recently that could explain this?
```
[0:00:26] audio=28357/10005 video=0/0 (bit/s) efps=0.0/0.0    call: hold sip:bar@test.tutpro.com
17:27:35.726#
TCP 192.168.171.45:53262 -> 192.168.171.45:5060
INVITE sip:bar@test.tutpro.com;gr=urn:uuid:24432fb8-562a-296b-f409-473a010260c1 SIP/2.0
Via: SIP/2.0/TCP 192.168.171.45:53262;branch=z9hG4bKcc980b57fb6cbb7b;rport
Contact: <sip:test@test.tutpro.com;gr=urn:uuid:18ffb445-ce14-78c2-8c2e-6ffd34e4a275>
Max-Forwards: 70
Route: <sip:192.168.171.45;transport=tcp;lr>
To: "Bar" <sip:bar@test.tutpro.com>;tag=7bbf032083534e4c
From: <sip:test@test.tutpro.com>;tag=4ad3f03fd7042a74
Call-ID: ec6d412ac36c7f48
CSeq: 1118 INVITE
User-Agent: baresip v3.6.0 (x86_64/Linux)
Content-Type: application/sdp
Content-Length: 1144

v=0
o=- 2707730650 834682369 IN IP4 192.168.171.45
s=-
c=IN IP4 192.168.171.45
t=0 0
m=audio 8954 RTP/AVP 96 97 98 9 99 18 0 8 10 9 100
a=rtpmap:96 opus/48000/2
a=fmtp:96 stereo=0;sprop-stereo=0;maxaveragebitrate=28000;cbr=0;useinbandfec=1
a=rtpmap:97 AMR-WB/16000
a=rtpmap:98 AMR/8000
a=rtpmap:9 G722/8000
a=rtpmap:99 G7221/16000
a=fmtp:99 bitrate=32000
a=rtpmap:18 G729/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:10 telephone-event/8000
a=fmtp:10 0-15
a=rtpmap:9 G722/8000
a=rtpmap:100 CODEC2/8000
a=sendonly
a=ssrc:1489257764 cname:sip:test@test.tutpro.com
a=minptime:20
a=ptime:20
a=label:1
a=mid:0
m=video 47542 RTP/AVP 96 97 98 99 100
a=rtpmap:96 VP9/90000
a=fmtp:96 max-fs=3600;profile-id=0
a=rtpmap:97 H264/90000
a=fmtp:97 packetization-mode=0;profile-level-id=42e01f
a=rtpmap:98 H264/90000
a=fmtp:98 packetization-mode=1;profile-level-id=42e01f
a=rtpmap:99 VP8/90000
a=fmtp:99 max-fs=3600
a=rtpmap:100 H265/90000
a=fmtp:100 profile-id=1
a=sendonly
a=ssrc:2528770465 cname:sip:test@test.tutpro.com
a=framerate:30.00
a=rtcp-fb:* nack
a=rtcp-fb:* nack pli
a=content:main
a=label:2

stream: update 'audio'
stream: audio: starting mediaenc 'zrtp' (wait_secure=0)
stream: update 'video'
stream: video: starting mediaenc 'zrtp' (wait_secure=0)
17:27:35.756#
TCP 192.168.171.45:5060 -> 192.168.171.45:53262
SIP/2.0 200 OK
Via: SIP/2.0/TCP 192.168.171.45:53262;received=192.168.171.45;branch=z9hG4bKcc980b57fb6cbb7b;rport=53262
To: "Bar" <sip:bar@test.tutpro.com>;tag=7bbf032083534e4c
From: <sip:test@test.tutpro.com>;tag=4ad3f03fd7042a74
Call-ID: ec6d412ac36c7f48
CSeq: 1118 INVITE
Server: baresip v3.6.0 (?/?)
Contact: <sip:bar@test.tutpro.com;gr=urn:uuid:24432fb8-562a-296b-f409-473a010260c1>
Content-Type: application/sdp
Content-Length: 1074

v=0
o=- 1791962835 770819849 IN IP4 192.168.171.146
s=-
c=IN IP4 192.168.171.146
t=0 0
m=audio 17718 RTP/AVP 96 97 98 99 18 0 8 10 9
a=rtpmap:96 opus/48000/2
a=fmtp:96 stereo=0;sprop-stereo=0;maxaveragebitrate=28000;cbr=0;useinbandfec=1
a=rtpmap:97 AMR-WB/16000
a=rtpmap:98 AMR/8000
a=rtpmap:99 G7221/16000
a=fmtp:99 bitrate=32000
a=rtpmap:18 G729/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:10 telephone-event/8000
a=fmtp:10 0-15
a=rtpmap:9 G722/8000
a=recvonly
a=rtcp-rsize
a=ssrc:1339760344 cname:sip:bar@test.tutpro.com
a=minptime:20
a=ptime:20
a=label:1
a=mid:0
m=video 41864 RTP/AVP 96 97 98 99
a=rtpmap:96 VP9/90000
a=fmtp:96 max-fs=3600;profile-id=0
a=rtpmap:97 VP8/90000
a=fmtp:97 max-fs=3600
a=rtpmap:98 H264/90000
a=fmtp:98 packetization-mode=0;profile-level-id=42e01f
a=rtpmap:99 H264/90000
a=fmtp:99 packetization-mode=1;profile-level-id=42e01f
a=inactive
a=rtcp-rsize
a=ssrc:1486299352 cname:sip:bar@test.tutpro.com
a=mid:1
a=framerate:15.00
a=rtcp-fb:* nack
a=rtcp-fb:* nack pli
a=content:main
a=label:2

test@test.tutpro.com: Call answered: sip:bar@test.tutpro.com
stream: update 'audio'
stream: audio: starting mediaenc 'zrtp' (wait_secure=0)
stream: update 'video'
stream: receive: setting SSRC: 589720d8
stream: video: starting mediaenc 'zrtp' (wait_secure=0)
zrtp: Stream <video> is encrypted (Twofish-256)
zrtp: All streams are encrypted (Twofish-256/EC25), SAS is [gagg] (verified)
```


Tested with version 3.4.0 and ACK was sent:
```
...
test@test.tutpro.com: Call answered: sip:bar@test.tutpro.com
stream: update 'audio'
stream: audio: starting mediaenc 'zrtp' (wait_secure=0)
stream: update 'video'
stream: video: starting mediaenc 'zrtp' (wait_secure=0)
17:52:37.432#
TCP 192.168.171.45:53154 -> 192.168.171.45:5060
ACK sip:bar@test.tutpro.com;gr=urn:uuid:24432fb8-562a-296b-f409-473a010260c1 SIP/2.0
Via: SIP/2.0/TCP 192.168.171.45:53154;branch=z9hG4bK247db45e9ebe32f9;rport
Max-Forwards: 70
Proxy-Authorization: Digest username="test", realm="test.tutpro.com", nonce="ZTKVW2UylC8XMj2t8+sXQUWuoQucJbpGZD8fYxFkdgJw6UulYTFkmgmNrduA", uri="sip:bar@test.tutpro.com;gr=urn:uuid:24432fb8-562a-296b-f409-473a010260c1", response="dfcc3e3100e2b5ba6509fcba5ad6aec6", cnonce="bf980064afe3f910", qop=auth, nc=00000004, algorithm=MD5
Route: <sip:192.168.171.45;transport=tcp;lr>
To: <sip:bar@test.tutpro.com>;tag=358ed4feb0398ee5
From: "Test Account" <sip:test@test.tutpro.com>;tag=6a7000d210156d35
Call-ID: e9ebc22419543917
CSeq: 27598 ACK
User-Agent: baresip v3.4.0 (x86_64/Linux)
Content-Length: 0
```

ACK is sent also with v3.5.1.

So the issue is somewhere between v3.5.1 (excluded) and v3.6.0 (included).

Can I revert the commit now, since this is pretty serious issue?

Thanks for finding the issue.

Is it possible to add a test to verify ACK for Re-INVITE ?
By having this test we can make sure that the bug does not come back later...




Alfred E. Heggestad writes:

> Is it possible to add a test to verify ACK for Re-INVITE ?
> By having this test we can make sure that the bug does not come back
> later...

I was thinking the same.  There are lots of tests, but perhaps not yet
one for re-INVITE.


Since I am currently working to improve `test/call.c` and added also the 100rel tests including `UPDATE` and  `PRACK` I could add also one for re-INVITE. The ACK will be checked implicitly I guess and I will try to verify this.

@maximilianfridrich and me will analyse this and try to find a correct fix. First of all I try to add a test for re-INVITE. I'd like to base it on https://github.com/baresip/baresip/pull/2770. Thus it would be nice if somebody could merge this soon.

@juha-h In "normal" call flows, this is not reproducible. With forking INVITEs (which I simulated using SIPP), this can be reproduced with both 3.6.0, 3.4.0, and the current main branch.

Are you sure that re commit you referenced causes this? If so, could you show the SIP messages in detail where this occurs?

Here is a test for call on-hold and resume. https://github.com/baresip/baresip/pull/2775
I try to verify the ACK somehow in this test.

Maximilian Fridrich writes:

> @juha-h In "normal" call flows, this is not reproducible. With forking
> INVITEs (which I simulated using SIPP), this can be reproduced with
> both 3.6.0, 3.4.0, and the current main branch.

What kind of forking call flow, parallel, sequential, ...?  Show the
flow (SIP trace).

> Are you sure that re commit you referenced causes this? If so, could
> you show the SIP messages in detail where this occurs?

I'm very sure.  I made lots of tests and in every test where your PR was
included, ACK was not sent after 200 OK to re-INVITE was received.  When
I reverted the PR, re-INVITEs started to work normally and ACK was sent
when 200 OK was received.  An example failing call (SIP trace) is
included in the issue that I opened.

Once there is re-INVITE test (if not there already), try it with your
PR.


Here is another PR for re in order to check if ACK is missing or not: https://github.com/baresip/re/pull/990

I am not able to reproduce this with the unit test so far.

@juha-h Please read my comment carefully. Without any forking, this is not reproducible.

I use parallel forking in my SIPP scenario.

I'm trying to help here and I asked you to show your SIP messages in detail. If you don't provide details, this will be very difficult.

A re-INVITE test already exists in BareSIP as `test_call_change_video` and @cspiel1 just confirmed in the test that ACKs are sent correctly for non-forking calls.

The PR https://github.com/baresip/baresip/pull/2775 that should check the ACK is not perfect, but it shows already that the ACK is received. 


PR for ACK unit test is fine now: https://github.com/baresip/baresip/pull/2775
The issue can not be reproduced. We need more details.

Christian Spielberger writes:

> PR for ACK unit test is fine now: https://github.com/baresip/baresip/pull/2775
> The issue can not be reproduced. We need more details.

I build re and baresip using tag v3.6.0.  Then I started two baresip
apps on my Linux host: ***@***.*** and ***@***.***
Then jh called test.  After the call was established, test issued menu
command /hold and received 200 OK to the re-INVITE, but never sent ACK
back.  I placed pcap of the call here:
http://box.tutpro.com/tmp/re-invite.pcapng.  All requests/replies go via
my SIP Proxy.

I was also running trace at test and it shows that test received the 200
OK to re-INVITE, but didn't react to it:

18:18:42.297#
TCP 192.168.171.45:5060 -> 192.168.171.45:57740
SIP/2.0 200 OK
Via: SIP/2.0/TCP 192.168.171.45:57740;received=192.168.171.45;branch=z9hG4bK0e577af907ee5c96;rport=57740
To: "Juha" ***@***.***>;tag=ba0ce8c5ff52514a
From: ***@***.***>;tag=3f5ae913f10827cf
Call-ID: 9072f4d9d47cb03d
CSeq: 16365 INVITE
Server: baresip v3.6.0 (x86_64/Linux)
Contact: ***@***.***;gr=urn:uuid:9b21c1a8-dc58-a3d6-83d5-7be67cbe70ce>
Content-Type: application/sdp
Content-Length: 437

v=0
o=- 2379850820 1099638974 IN IP4 192.168.171.45
s=-
c=IN IP4 192.168.171.45
t=0 0
m=audio 1062 RTP/AVP 96 97 0 8 101 9
a=rtpmap:96 AMR-WB/16000
a=rtpmap:97 AMR/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=rtpmap:9 G722/8000
a=recvonly
a=rtcp-rsize
a=ssrc:1760553048 ***@***.***
a=minptime:20
a=ptime:20
a=label:1
a=mid:0
m=video 0 RTP/AVP 0

Then I build re and baresip using main, made the same test and test sent
ACK after receiving 200 OK to re-INVITE.

Let me know if you need something else.




Maximilian Fridrich writes:

> I use parallel forking in my SIPP scenario.

Show the pcap of the test.

> I'm trying to help here and I asked you to show your SIP messages in
> detail. If you don't provide details, this will be very difficult.

I already did that in the original issue.

> A re-INVITE test already exists in BareSIP as `test_call_change_video`
> and @cspiel1 just confirmed in the test that ACKs are sent correctly
> for non-forking calls.

ACK is sent correctly using main, but not using 3.6.0.  See my new post
https://github.com/baresip/baresip/issues/2772#issuecomment-1775497383
that also includes link to the pcap.


Here is baresip/re main branch pcap of the same test that works fine: http://box.tutpro.com/tmp/main.pcapng.

Thanks for the details! Sorry, I forgot: Which SIP proxy do you use?

My own Kamailio based SIP proxy.  If needed, I can create an account or two for you.  Also, here is account config of test:
```
"Test Account" <sip:test@test.tutpro.com>;auth_user=test;auth_pass=xxxxxx;outbound="sip:lohi.tutpro.com:5060;transport=tcp";audio_codecs=codec2/8000/1,OPUS/16000/1,AMR-WB/16000/1,G722/16000/1,AMR/8000/1,G7221/16000/1,G722/16000/1,G729/8000/1,PCMU,PCMA;video_codecs=VP9,H264,VP8,H265;mwi=no;regint=600;pubint=0;regq=0.5;sipnat=outbound;call_transfer=yes;sip_autoredirect=yes;answermode=manual;dtmfmode=info;100rel=yes
```

Here is more info. With v3.6.0 when 200 OK to /hold arrives, instead of sending ACK,, there is weird websocket connection attempt:
```
[0:00:06] audio=24391/24554 video=0/0 (bit/s) efps=0.0/0.0    call: hold sip:jh@test.tutpro.com
10:23:57.888#
TCP 192.168.171.45:45610 -> 192.168.171.45:5060
INVITE sip:jh@test.tutpro.com;gr=urn:uuid:9b21c1a8-dc58-a3d6-83d5-7be67cbe70ce SIP/2.0
Via: SIP/2.0/TCP 192.168.171.45:45610;branch=z9hG4bKde8e7c402b8a3028;rport
Contact: <sip:test@test.tutpro.com;gr=urn:uuid:18ffb445-ce14-78c2-8c2e-6ffd34e4a275>
Max-Forwards: 70
Route: <sip:192.168.171.45;transport=tcp;lr>
To: "Juha" <sip:jh@test.tutpro.com>;tag=2874e529dfb473e6
From: <sip:test@test.tutpro.com>;tag=45f857513b9db2af
Call-ID: 4bce3aa6ba65d2f9
CSeq: 28822 INVITE
User-Agent: baresip v3.6.0 (x86_64/Linux)
Content-Type: application/sdp
Content-Length: 1155

v=0
o=- 1206957721 1329697262 IN IP4 192.168.171.45
s=-
c=IN IP4 192.168.171.45
t=0 0
m=audio 14620 RTP/AVP 96 97 9 0 8 101 18 9 102 103 104
a=rtpmap:96 AMR-WB/16000
a=rtpmap:97 AMR/8000
a=rtpmap:9 G722/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=rtpmap:18 G729/8000
a=rtpmap:9 G722/8000
a=rtpmap:102 G7221/16000
a=fmtp:102 bitrate=32000
a=rtpmap:103 opus/48000/2
a=fmtp:103 stereo=0;sprop-stereo=0;maxaveragebitrate=28000;cbr=0;useinbandfec=1
a=rtpmap:104 CODEC2/8000
a=sendonly
a=ssrc:1574386872 cname:sip:test@test.tutpro.com
a=minptime:20
a=ptime:20
a=label:1
a=mid:0
m=video 25508 RTP/AVP 96 97 98 99 100
a=rtpmap:96 VP9/90000
a=fmtp:96 max-fs=3600;profile-id=0
a=rtpmap:97 H264/90000
a=fmtp:97 packetization-mode=0;profile-level-id=42e01f
a=rtpmap:98 H264/90000
a=fmtp:98 packetization-mode=1;profile-level-id=42e01f
a=rtpmap:99 VP8/90000
a=fmtp:99 max-fs=3600
a=rtpmap:100 H265/90000
a=fmtp:100 profile-id=1
a=sendonly
a=ssrc:1408740831 cname:sip:test@test.tutpro.com
a=framerate:30.00
a=rtcp-fb:* nack
a=rtcp-fb:* nack pli
a=content:main
a=label:2

stream: update 'audio'
stream: update 'video'
10:23:57.892#
TCP 192.168.171.45:5060 -> 192.168.171.45:45610
SIP/2.0 200 OK
Via: SIP/2.0/TCP 192.168.171.45:45610;received=192.168.171.45;branch=z9hG4bKde8e7c402b8a3028;rport=45610
To: "Juha" <sip:jh@test.tutpro.com>;tag=2874e529dfb473e6
From: <sip:test@test.tutpro.com>;tag=45f857513b9db2af
Call-ID: 4bce3aa6ba65d2f9
CSeq: 28822 INVITE
Server: baresip v3.6.0 (x86_64/Linux)
Contact: <sip:jh@test.tutpro.com;gr=urn:uuid:9b21c1a8-dc58-a3d6-83d5-7be67cbe70ce>
Content-Type: application/sdp
Content-Length: 435

v=0
o=- 1703426662 728814590 IN IP4 192.168.171.45
s=-
c=IN IP4 192.168.171.45
t=0 0
m=audio 14204 RTP/AVP 96 97 0 8 101 9
a=rtpmap:96 AMR-WB/16000
a=rtpmap:97 AMR/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=rtpmap:9 G722/8000
a=recvonly
a=rtcp-rsize
a=ssrc:58343774 cname:sip:jh@test.tutpro.com
a=minptime:20
a=ptime:20
a=label:1
a=mid:0
m=video 0 RTP/AVP 0

test@test.tutpro.com: Call answered: sip:jh@test.tutpro.com
stream: update 'audio'
stream: update 'video'
[0:00:07] audio=22285/22122 video=0/0 (bit/s) efps=0.0/0.0    websock: connecting to 'wss://192.168.11.45:5063/'
```
I have no idea where that comes from and could explain why ACK is not sent. 

There is nothing about wss in test's account file or in SIP trace.  That connection attempt does not happen with main branch.

If it helps. I could add debug statements somewhere.

Now we can reproduce the issue with transport TCP. Also in the baresip selftest: https://github.com/baresip/baresip/pull/2775

Good to know.  Regarding UDP transport, in my opinion it should not be used at all.  I don't know if tests use all transports (UDP, TCP, TLS, WSS), but at least TCP and TLS should be included.

One comment regarding TCP transport.  pcap of failing test http://box.tutpro.com/tmp/re-invite.pcapng shows that when jh does not get ACK to its 200 OK, it keeps re-sending the 200 OK.  Is this really necessary, since TCP transport is used and most likely jh has got TCP level acknowledgement from the proxy.

I'm still waiting to see details of the parallel forking test case that
caused issuing of the broken PR.  Once given, I'll try to repeat the
test with my SIP proxy what does support parallel forking.


I am afraid, but this https://github.com/baresip/baresip/issues/2772#issuecomment-1776860598  was not true. Also with TCP we can not reproduce the missing ACK by a baresip peer to peer call. I sent you an email. If it is possible we'd like to test with your SIP proxy setup.

> Good to know. Regarding UDP transport, in my opinion it should not be used at all. I don't know if tests use all transports (UDP, TCP, TLS, WSS), but at least TCP and TLS should be included.

Currently we have these TCP tests: `text_call_tcp()`, `test_call_deny_udp()`. Maybe we could run some of the other tests with different transport methods.
 
> One comment regarding TCP transport. pcap of failing test http://box.tutpro.com/tmp/re-invite.pcapng shows that when jh does not get ACK to its 200 OK, it keeps re-sending the 200 OK. Is this really necessary, since TCP transport is used and most likely jh has got TCP level acknowledgement from the proxy.

I think so. This is mentioned in RFC-3261 section 13.3.1.4

Christian Spielberger writes:

> > One comment regarding TCP transport. pcap of failing test http://box.tutpro.com/tmp/re-invite.pcapng shows that when jh does not get ACK to its 200 OK, it keeps re-sending the 200 OK. Is this really necessary, since TCP transport is used and most likely jh has got TCP level acknowledgement from the proxy.
> 
> I think so. This is mentioned in RFC-3261 section 13.3.1.4

OK, there is statement:

      Since 2xx is retransmitted end-to-end, there may be hops between
      UAS and UAC that are UDP.  To ensure reliable delivery across
      these hops, the response is retransmitted periodically even if the
      transport at the UAS is reliable.

My SIP proxy, of course, can handle this will do the re-transmission on
behalf of the UAS if the next hop is over UDP.


> Maybe we could run some of the other tests with different transport methods. --> Another PR.

Does it make sense to introduce a extra test mode for easier https://github.com/SIPp/sipp end-to-end scenario testing?

With the SIP proxy of @juha-h I can reproduce the issue:
- With questionable commit fc588b9cf7162133f96ee38b236d9ecea6c8ee20 in v3.6.0 there is ACK missing.
- Without the commit ACK is sent.

Analysis so far:
- The correct response handler is called: `reinvite_resp_handler()` in modify.c
- `sipsess_ack()` is also called. The err is not evaluated, but it returns Success.
- The ACK is tried to send to `lab.tutpro.com` not to the outbound IP address. Is it okay to send the ACK "directly" and not through the SIP proxy?
- Without the commit fc588b9cf7162133f96ee38b236d9ecea6c8ee20 the ACK is sent to the configured outbound IP. So here is a difference.

TODOs:
- Check RFC if the ACK should be sent to the outbound proxy?
- Debug why the DNS request for the ACK does not result in a successful resolution or why it is not sent finally.

Christian Spielberger writes:

> - The ACK is tried to send to `lab.tutpro.com` not to the outbound IP
> - address. Is it okay to send the ACK "directly" and not through the
> - SIP proxy?

It must be sent according to R-R header what was in the INVITE when the
dialog was established.

> - Without the commit fc588b9cf7162133f96ee38b236d9ecea6c8ee20 the ACK
> - is sent to the configured outbound IP. So here is a difference.

All in-dialog requests must be sent according to the R-R header of the
initial INVITE.

> TODOs:
> - Check RFC if the ACK should be sent to the outbound proxy?
> - Debug why the DNS request for the ACK does not result in a successful resolution or why it is not sent finally.

-- Juha


In-dialog requests cannot change the route set that was created based on the initial INVITE (at UAS) and 200 OK (UAC).

Note also, that baresip does include Route header to the ACK of initial INVITE as well as PRACK and BYE and sends the request accordingly.  It must do the same for ACK of re-INVITE and it has done so forever before the broken PR.

we have some tests in selftest, but it does not cover all the usecases.

Doing a good old manual testing covers a lot of bugs. If we have time we should do this
before each release, in the freeze window.



I'll close this since commit https://github.com/baresip/re/commit/6471c6389671f3c2444ec641ab19edaf99161bec fixed the issue.