SIP/2.0 481 Call/Transaction Does Not Exist

Hey Guys, i was using linphone before, and wanted to tryout this baresip client... when i call from this client to a trunk in Asterisk, it always gives me 481 error, i opened a  thread on forum, but they say it must be a bug/issue present in the baresip client

All info and logs are on this thread:

https://community.asterisk.org/t/issue-i-think-with-pjsip-trunk-xxx-requested-media-update-control-18-passing-it-to-pjsip-xxx/94872

7000 = baresip client calling to an extension => 481 error
6000 = linphone client callint to same extension, no issues

[7000.txt](https://github.com/baresip/baresip/files/10085777/7000.txt)
[6000.txt](https://github.com/baresip/baresip/files/10085778/6000.txt)


advice is welcome :-)

thnx and have a nice weekend

Can you try latest git release and with `baresip -s` (enabled tracing) and provide full log.

Ok, I will try later, now just installed baresip 2.8.2 on arch Linux, using pacman install from official repo...

Will try later on my test system

Do you think 2.9.0 will fix it?

Sry I meant latest git main. Unsure, but testing mainline is always recommended, since maybe there is a related bug already fixed.

Ok, clear, I test later

ok, tested on my debian, with new git download;

here is full log, 7000 calling to extension "1"

```
root@debian:/home/debian/baresip/build# ./baresip -s
baresip v2.9.0 Copyright (C) 2010 - 2022 Alfred E. Heggestad et al.
Local network addresses:
     ens160:  192.168.0.240
     ens160:  fe80::20c:29ff:fe79:ac6a
httpd: listening on 0.0.0.0:8000
aucodec: PCMU/8000/1
aucodec: PCMA/8000/1
aufilt: auconv
aufilt: auresamp
ausrc: aubridge
auplay: aubridge
vidcodec: H264
vidcodec: H264
vidcodec: H265
avcodec: using H.264 encoder 'libx264' -- libx264 H.264 / AVC / MPEG-4 AVC / MPEG-4 part 10
avcodec: using H.264 decoder 'h264' -- H.264 / AVC / MPEG-4 AVC / MPEG-4 part 10
avcodec: using H.265 encoder 'libx265' -- libx265 H.265 / HEVC
avcodec: using H.265 decoder 'hevc' -- HEVC (High Efficiency Video Coding)
ausrc: avformat
vidsrc: avformat
medianat: stun
medianat: turn
medianat: ice
20:25:11.561#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
REGISTER sip:192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bK73322456cb0c6360;rport
Contact: <sip:7000-0x5612e1be0030@192.168.0.240:37472>;expires=3689;+sip.instance="<urn:uuid:ab4f1010-7493-f699-6026-f68a25972326>"
Max-Forwards: 70
To: <sip:7000@192.168.0.17>
From: <sip:7000@192.168.0.17>;tag=70ae27090e956aaf
Call-ID: b922ab6c37c0c086
CSeq: 24315 REGISTER
User-Agent: baresip v2.9.0 (x86_64/Linux)
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,REFER
Content-Length: 0


Populated 1 account
Populated 3 contacts
b2bua: inbound UA not found
module b2bua.so: No such file or directory [2]
Populated 2 audio codecs
Populated 2 audio filters
Populated 3 video codecs
Populated 0 video filters
baresip is ready.
20:25:11.569#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 401 Unauthorized
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bK73322456cb0c6360
Call-ID: b922ab6c37c0c086
From: <sip:7000@192.168.0.17>;tag=70ae27090e956aaf
To: <sip:7000@192.168.0.17>;tag=z9hG4bK73322456cb0c6360
CSeq: 24315 REGISTER
WWW-Authenticate: Digest realm="asterisk",nonce="1669317911/dd0cf376dcaf9da48fe1250900fd35f1",opaque="057d6fce5e7cc5ce",algorithm=MD5,qop="auth"
Server: Asterisk PBX 18.15.0
Content-Length:  0


20:25:11.571#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
REGISTER sip:192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bKef4c2d51cfa33a0f;rport
Contact: <sip:7000-0x5612e1be0030@192.168.0.240:37472>;expires=3689;+sip.instance="<urn:uuid:ab4f1010-7493-f699-6026-f68a25972326>"
Max-Forwards: 70
Authorization: Digest username="7000", realm="asterisk", nonce="1669317911/dd0cf376dcaf9da48fe1250900fd35f1", uri="sip:192.168.0.17", response="c8033c179a1f348eec7080d7fc2ca4df", opaque="057d6fce5e7cc5ce", cnonce="394a006e6f903870", qop=auth, nc=00000001, algorithm=MD5
To: <sip:7000@192.168.0.17>
From: <sip:7000@192.168.0.17>;tag=70ae27090e956aaf
Call-ID: b922ab6c37c0c086
CSeq: 24316 REGISTER
User-Agent: baresip v2.9.0 (x86_64/Linux)
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,REFER
Content-Length: 0


20:25:11.575#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 200 OK
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bKef4c2d51cfa33a0f
Call-ID: b922ab6c37c0c086
From: <sip:7000@192.168.0.17>;tag=70ae27090e956aaf
To: <sip:7000@192.168.0.17>;tag=z9hG4bKef4c2d51cfa33a0f
CSeq: 24316 REGISTER
Date: Thu, 24 Nov 2022 19:25:11 GMT
Contact: <sip:7000-0x5612e1be0030@192.168.0.240:37472>;expires=3688
Server: Asterisk PBX 18.15.0
Content-Length:  0


7000@192.168.0.17: (prio 0) {0/UDP/v4} 200 OK (Asterisk PBX 18.15.0) [1 binding]
All 1 useragent registered successfully! (10 ms)
>                                1
7000@192.168.0.17: selected for request
call uri: 1
call: connecting to 'sip:1@192.168.0.17'..
20:25:26.355#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
INVITE sip:1@192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bKc81273364cfcb380;rport
Contact: <sip:7000-0x5612e1be0030@192.168.0.240:37472>
Max-Forwards: 70
To: <sip:1@192.168.0.17>
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 9982 INVITE
User-Agent: baresip v2.9.0 (x86_64/Linux)
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,REFER
Supported: gruu,replaces,norefersub
Content-Type: application/sdp
Content-Length: 725

v=0
o=- 3941443372 117222995 IN IP4 192.168.0.240
s=-
c=IN IP4 192.168.0.240
t=0 0
m=audio 11332 RTP/AVP 0 8 101
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=sendrecv
a=rtcp-rsize
a=ssrc:4284188807 cname:sip:7000@192.168.0.17
a=mid:0
a=minptime:20
a=ptime:20
a=label:1
m=video 17160 RTP/AVP 96 97 98
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=0;profile-level-id=42e01f
a=rtpmap:97 H264/90000
a=fmtp:97 packetization-mode=1;profile-level-id=42e01f
a=rtpmap:98 H265/90000
a=fmtp:98 profile-id=1
a=sendonly
a=rtcp-rsize
a=ssrc:1921072611 cname:sip:7000@192.168.0.17
a=mid:1
a=framerate:30.00
a=rtcp-fb:* nack pli
a=content:main
a=label:2

call id: f02571ea2741ec25
20:25:26.356#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 401 Unauthorized
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bKc81273364cfcb380
Call-ID: f02571ea2741ec25
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
To: <sip:1@192.168.0.17>;tag=z9hG4bKc81273364cfcb380
CSeq: 9982 INVITE
WWW-Authenticate: Digest realm="asterisk",nonce="1669317926/cced02abad4d940d16141209cb6f3c9a",opaque="395185fe1c3634e1",algorithm=MD5,qop="auth"
Server: Asterisk PBX 18.15.0
Content-Length:  0


20:25:26.357#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
ACK sip:1@192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bKc81273364cfcb380;rport
Max-Forwards: 70
To: <sip:1@192.168.0.17>;tag=z9hG4bKc81273364cfcb380
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 9982 ACK
User-Agent: baresip v2.9.0 (x86_64/Linux)
Content-Length: 0


20:25:26.360#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
INVITE sip:1@192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bKc85a89bcce1b3c33;rport
Contact: <sip:7000-0x5612e1be0030@192.168.0.240:37472>
Max-Forwards: 70
Authorization: Digest username="7000", realm="asterisk", nonce="1669317926/cced02abad4d940d16141209cb6f3c9a", uri="sip:1@192.168.0.17", response="1943f5e36f4dc6e3eecb9363a6929ac9", opaque="395185fe1c3634e1", cnonce="66436845b03da739", qop=auth, nc=00000001, algorithm=MD5
To: <sip:1@192.168.0.17>
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 9983 INVITE
User-Agent: baresip v2.9.0 (x86_64/Linux)
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,REFER
Supported: gruu,replaces,norefersub
Content-Type: application/sdp
Content-Length: 725

v=0
o=- 3941443372 117222996 IN IP4 192.168.0.240
s=-
c=IN IP4 192.168.0.240
t=0 0
m=audio 11332 RTP/AVP 0 8 101
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=sendrecv
a=rtcp-rsize
a=ssrc:4284188807 cname:sip:7000@192.168.0.17
a=mid:0
a=minptime:20
a=ptime:20
a=label:1
m=video 17160 RTP/AVP 96 97 98
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=0;profile-level-id=42e01f
a=rtpmap:97 H264/90000
a=fmtp:97 packetization-mode=1;profile-level-id=42e01f
a=rtpmap:98 H265/90000
a=fmtp:98 profile-id=1
a=sendonly
a=rtcp-rsize
a=ssrc:1921072611 cname:sip:7000@192.168.0.17
a=mid:1
a=framerate:30.00
a=rtcp-fb:* nack pli
a=content:main
a=label:2

20:25:26.364#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 100 Trying
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bKc85a89bcce1b3c33
Call-ID: f02571ea2741ec25
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
To: <sip:1@192.168.0.17>
CSeq: 9983 INVITE
Server: Asterisk PBX 18.15.0
Content-Length:  0


call: SIP Progress: 100 Trying (/)
20:25:26.410#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 183 Session Progress
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bKc85a89bcce1b3c33
Call-ID: f02571ea2741ec25
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
To: <sip:1@192.168.0.17>;tag=a3bddffa-eb02-433f-a858-bbe269a36186
CSeq: 9983 INVITE
Server: Asterisk PBX 18.15.0
Contact: <sip:192.168.0.17:5060>
Allow: OPTIONS, REGISTER, SUBSCRIBE, NOTIFY, PUBLISH, INVITE, ACK, BYE, CANCEL, UPDATE, PRACK, MESSAGE, REFER
Content-Type: application/sdp
Content-Length:   378

v=0
o=- 3941443372 117222998 IN IP4 192.168.0.17
s=Asterisk
c=IN IP4 192.168.0.17
t=0 0
m=audio 18318 RTP/AVP 0 8 101
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=ptime:20
a=maxptime:150
a=sendrecv
m=video 17130 RTP/AVP 96
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=0;profile-level-id=42E01F
a=recvonly

call: SIP Progress: 183 Session Progress (application/sdp)
7000@192.168.0.17: Call in-progress: sip:1@192.168.0.17
stream: update 'audio'
stream: update 'video'
audio: Set audio decoder: PCMU 8000Hz 1ch
aubridge: created device 'nil'
audio: player started with sample format S16LE
audio: Set audio encoder: PCMU 8000Hz 1ch
audio: source started with sample format S16LE
audio tx pipeline:    aubridge ---> aubuf ---> auconv ---> auresamp ---> PCMU
audio rx pipeline:    aubridge <--- aubuf <--- auconv <--- auresamp <--- PCMU
Set video encoder: H264 packetization-mode=0 (1000000 bit/s, 30.00 fps)
avcodec: h264 encoder activated
aubridge: thread start: 8000 Hz, 1 channels, format=S16LE
[rtsp @ 0x5612e1bfef80] Missing PPS in sprop-parameter-sets, ignoring
20:25:26.584#io=0/0 video=0/0 (bit/s) efps=0.0/0.0
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 183 Session Progress
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bKc85a89bcce1b3c33
Call-ID: f02571ea2741ec25
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
To: <sip:1@192.168.0.17>;tag=a3bddffa-eb02-433f-a858-bbe269a36186
CSeq: 9983 INVITE
Server: Asterisk PBX 18.15.0
Allow: OPTIONS, REGISTER, SUBSCRIBE, NOTIFY, PUBLISH, INVITE, ACK, BYE, CANCEL, UPDATE, PRACK, MESSAGE, REFER
Contact: <sip:192.168.0.17:5060>
Content-Type: application/sdp
Content-Length:   378

v=0
o=- 3941443372 117222998 IN IP4 192.168.0.17
s=Asterisk
c=IN IP4 192.168.0.17
t=0 0
m=audio 18318 RTP/AVP 0 8 101
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=ptime:20
a=maxptime:150
a=sendrecv
m=video 17130 RTP/AVP 96
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=0;profile-level-id=42E01F
a=recvonly

call: SIP Progress: 183 Session Progress (application/sdp)
7000@192.168.0.17: Call in-progress: sip:1@192.168.0.17
stream: update 'audio'
stream: update 'video'
20:25:26.620#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
INFO sip:7000-0x5612e1be0030@192.168.0.240:37472 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.17:5060;rport;branch=z9hG4bKPj435f9c1e-802e-4eab-a093-761811772902
From: <sip:1@192.168.0.17>;tag=a3bddffa-eb02-433f-a858-bbe269a36186
To: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 1438 INFO
Max-Forwards: 70
User-Agent: Asterisk PBX 18.15.0
Content-Type: application/media_control+xml
Content-Length:   178

<?xml version="1.0" encoding="utf-8" ?>
 <media_control>
  <vc_primitive>
   <to_encoder>
    <picture_fast_update/>
   </to_encoder>
  </vc_primitive>
 </media_control>

20:25:26.621#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
SIP/2.0 481 Call Does Not Exist
Via: SIP/2.0/UDP 192.168.0.17:5060;branch=z9hG4bKPj435f9c1e-802e-4eab-a093-761811772902;rport=5060;received=192.168.0.17
From: <sip:1@192.168.0.17>;tag=a3bddffa-eb02-433f-a858-bbe269a36186
To: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 1438 INFO
Server: baresip v2.9.0 (x86_64/Linux)
Content-Length: 0


20:25:26.622#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
BYE sip:7000-0x5612e1be0030@192.168.0.240:37472 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.17:5060;rport;branch=z9hG4bKPjd464ee5c-1b02-47dd-94fc-4cd4688ee7d4
From: <sip:1@192.168.0.17>;tag=a3bddffa-eb02-433f-a858-bbe269a36186
To: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 1439 BYE
Max-Forwards: 70
User-Agent: Asterisk PBX 18.15.0
Content-Length:  0


20:25:26.623#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
SIP/2.0 481 Call Does Not Exist
Via: SIP/2.0/UDP 192.168.0.17:5060;branch=z9hG4bKPjd464ee5c-1b02-47dd-94fc-4cd4688ee7d4;rport=5060;received=192.168.0.17
From: <sip:1@192.168.0.17>;tag=a3bddffa-eb02-433f-a858-bbe269a36186
To: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 1439 BYE
Server: baresip v2.9.0 (x86_64/Linux)
Content-Length: 0


no video pts
terminated by signal 20 video=0/0 (bit/s) efps=0.0/0.0
ua: stop all (forced=0)
20:25:32.599#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
CANCEL sip:1@192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bKc85a89bcce1b3c33;rport
Max-Forwards: 70
To: <sip:1@192.168.0.17>
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
Call-ID: f02571ea2741ec25
CSeq: 9983 CANCEL
User-Agent: baresip v2.9.0 (x86_64/Linux)
Content-Length: 0


20:25:32.601#
UDP 192.168.0.240:37472 -> 192.168.0.17:5060
REGISTER sip:192.168.0.17 SIP/2.0
Via: SIP/2.0/UDP 192.168.0.240:37472;branch=z9hG4bK74ebc2dc5fa3b380;rport
Contact: <sip:7000-0x5612e1be0030@192.168.0.240:37472>;expires=0;+sip.instance="<urn:uuid:ab4f1010-7493-f699-6026-f68a25972326>"
Max-Forwards: 70
Authorization: Digest username="7000", realm="asterisk", nonce="1669317911/dd0cf376dcaf9da48fe1250900fd35f1", uri="sip:192.168.0.17", response="1b17d5e61c76d54a1dc54e9af1bc943e", opaque="057d6fce5e7cc5ce", cnonce="909b413a573af99e", qop=auth, nc=00000002, algorithm=MD5
To: <sip:7000@192.168.0.17>
From: <sip:7000@192.168.0.17>;tag=70ae27090e956aaf
Call-ID: b922ab6c37c0c086
CSeq: 24317 REGISTER
User-Agent: baresip v2.9.0 (x86_64/Linux)
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,REFER
Content-Length: 0


20:25:32.602#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 481 Call/Transaction Does Not Exist
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bKc85a89bcce1b3c33
Call-ID: f02571ea2741ec25
From: <sip:7000@192.168.0.17>;tag=17d0d6e416be4d4b
To: <sip:1@192.168.0.17>;tag=z9hG4bKc85a89bcce1b3c33
CSeq: 9983 CANCEL
Server: Asterisk PBX 18.15.0
Content-Length:  0


20:25:32.603#
UDP 192.168.0.17:5060 -> 192.168.0.240:37472
SIP/2.0 200 OK
Via: SIP/2.0/UDP 192.168.0.240:37472;rport=37472;received=192.168.0.240;branch=z9hG4bK74ebc2dc5fa3b380
Call-ID: b922ab6c37c0c086
From: <sip:7000@192.168.0.17>;tag=70ae27090e956aaf
To: <sip:7000@192.168.0.17>;tag=z9hG4bK74ebc2dc5fa3b380
CSeq: 24317 REGISTER
Date: Thu, 24 Nov 2022 19:25:32 GMT
Server: Asterisk PBX 18.15.0
Content-Length:  0


```

hi,

here are some observations:


1. why are you using early media?

2. application/media_control+xml is not supported. Use RTCP PLI instead.

3. in the SIP spec, is it allowed to send in-dialog messages to endpoint where dialog is not confirmed ?


Alfred


Hey, I'm using it for door intercom purposes, to send the rtsp stream as early media , will upload config later...

For 2 and 4, what do I need to change in config? Sorry , it's a bit new for me... No idea about 3 :-)

hi @juha-h could you please help with your SIP knowledge ?

1. A send INVITE to B
2. B replies with 183 Session progress
3. there is now an early dialog between A and B


If A wants to hangup, it has to send CANCEL
If B wants to hangup, it has to send 486 Rejected


According to my memory it is not allowed to send in-dialog requests (e.g. INFO, BYE)
within an early dialog. Perhaps I am wrong ?



I'm on the road, but was able to do some checking.  A has to send CANCEL if it wants to terminate early dialog and B can terminate early dialog with a 400+ response. According to  RFC 2976, INFO is mid-session request and thus cannot be sent since session has not been established. Same applies to BYE.


ah, but my issue is there is no call estabilished at all?

I rechecked and RFC 3261 Section 15 tells that caller's UA may send BYE either for confirmed or early dialogs and callee's UA may send BYE only on confirmed dialogs.


Report bug on Asterisk that it sends INFO when session has not been established yet.


Ok, will do

guys, question not related to this issue... 
Is it possible todo a call transfer without picking up? thats why i'm testing this baresip

Lets say, i define 2 accounts in baresip in the accounts file
Lets for example
Account 1 : sip user 1000
Account 2 : sip user 1001

They are both registered

There is an incoming call to 1000 , then baresip should immediately forward the call to 1001 without answering
Is  that possible? I do see a transfer option in the accounts file, but that only works after picking up, right?

thnx

pergolafabio writes:

> Is it possible todo a call transfer without picking up? thats why i'm
> testing this baresip 
> 
> Lets say, i define 2 accounts in baresip in the accounts file
> Lets for example
> Account 1 : sip user 1000
> Account 2 : sip user 1001
> 
> They are both registered
> 
> There is an incoming call to 1000 , then baresip should immediately
> forward the call to 1001 without answering

This has nothing to do with call transfer where REFER requests is used.

> Is  that possible? I do see a transfer option in the accounts file,
> but that only works after picking up, right?

I should be possible to add unconditional/no-answer/busy call forward
parameters to account.


Ok that's interesting! I had a look before in the docs:

https://github.com/baresip/baresip/blob/main/docs/examples/accounts

But I don't see any forward parameter? Is it missing there? Can you maybe show me a example or point me to page where it's described?

Thnx in advance!!

pergolafabio writes:

> But I don't see any forward parameter? Is it missing there? Can you
> maybe show me a example or point me to page where it's described?

I wrote that it "should be possible" to implement the parameters.  They
are not there now.


Ahhh ok, that's too bad :-(

please keep one topic per ticket.

You can also use "Discussions" or mailing list to ask questions and suggest new features.


Can you please try to configure Asterisk to reply with 200 ok ?

please try that first and see if it is working. If it works then try a more advanced scenario.


Hmm, not sure how I can do that? 

Simply ask Asterisk project leader to fix their code.  According to INFO RFC: 
```
[2](https://www.rfc-editor.org/rfc/rfc2976#section-2). INFO Method

   The INFO method is used for communicating mid-session signaling
   information along the signaling path for the call.
```
Now Asterisk is sending INFO when session has not been established.
