Issue with Refer-To on call_transfer

Hi,
Just wanted to tell you what happened to us this week.
We were testing our software on a SIP PBX (Coral Tadiran) and were not able to transfer answered calls while connected using baresip.
The issue was solved with 2 fixes on the call_transfer function at src/call.c.
1. Adding "<" and ">" before and after the %s on the arg "Refer-To: %s\r\n"
2. Adding a "Referred-by: <%s>" just after this same arg.

Final result:
(...)
call,
"Refer-To: <%s>\r\nReferred-by: <%s>\r\n", nuri,ua_aor(call->ua));
if (err) {
(...)

What are your thoughts about this?
Best regards,
Rodrigo Deppe

https://github.com/baresip/baresip/wiki/Guidelines-for-reporting-Issues

please include SIP signaling


Sure thing.

Bad one on WireShark:

Session Initiation Protocol (REFER)
    Request-Line: REFER sip:7528@172.21.26.15:5060 SIP/2.0
    Message Header
        Via: SIP/2.0/UDP 172.21.26.136:60393;branch=z9hG4bK6e36534974067b68;rport
        Contact: <sip:4017@172.21.26.136:60393>
        Max-Forwards: 70
        To: "21999640954"<sip:021999640954@172.21.26.15>;tag=40d0e1d0-ac151a0f-13c4-5459e6-571e3a70-5459e6
        From: <sip:4017@172.21.26.15>;tag=2d1a036a5f7313c3
        Call-ID: 40d49990-ac151a0f-13c4-5459e6-404396eb-5459e6@172.21.26.15
        [Generated Call-ID: 40d49990-ac151a0f-13c4-5459e6-404396eb-5459e6@172.21.26.15]
        CSeq: 19309 REFER
        User-Agent: SIP Phonox Voice
        Refer-To: sip:1133@172.21.26.15
        Content-Length: 0

Session Initiation Protocol (480)
    Status-Line: SIP/2.0 480 Temporarily Unavailible
    Message Header
        From: <sip:4017@172.21.26.15>;tag=2d1a036a5f7313c3
        To: "21999640954"<sip:021999640954@172.21.26.15>;tag=40d0e1d0-ac151a0f-13c4-5459e6-571e3a70-5459e6
        Call-ID: 40d49990-ac151a0f-13c4-5459e6-404396eb-5459e6@172.21.26.15
        [Generated Call-ID: 40d49990-ac151a0f-13c4-5459e6-404396eb-5459e6@172.21.26.15]
        CSeq: 19309 REFER
        Via: SIP/2.0/UDP 172.21.26.136:60393;rport=60393;branch=z9hG4bK6e36534974067b68
        Supported: replaces
        Contact: <sip:7528@172.21.26.15:5060>
        Content-Length: 0

Good one on WireShark.

Session Initiation Protocol (REFER)
    Request-Line: REFER sip:7503@172.21.26.15:5060 SIP/2.0
    Message Header
        Via: SIP/2.0/UDP 172.21.26.136:57219;branch=z9hG4bK35e747f630387de7;rport
        Contact: <sip:4018@172.21.26.136:57219>
        Max-Forwards: 70
        To: "21999640954"<sip:021999640954@172.21.26.15>;tag=40d2f218-ac151a0f-13c4-6ff497-7a20ba10-6ff497
        From: <sip:4018@172.21.26.15>;tag=249551e63f07166c
        Call-ID: 40d4c980-ac151a0f-13c4-6ff497-18d2533c-6ff497@172.21.26.15
        [Generated Call-ID: 40d4c980-ac151a0f-13c4-6ff497-18d2533c-6ff497@172.21.26.15]
        CSeq: 23243 REFER
        User-Agent: SIP Phonox Voice
        Refer-To: <sip:1122@172.21.26.15>
        Referred-by: <sip:4018@172.21.26.15>
        Content-Length: 0

Session Initiation Protocol (202)
    Status-Line: SIP/2.0 202 Accepted
    Message Header
        From: <sip:4018@172.21.26.15>;tag=249551e63f07166c
        To: "21999640954"<sip:021999640954@172.21.26.15>;tag=40d2f218-ac151a0f-13c4-6ff497-7a20ba10-6ff497
        Call-ID: 40d4c980-ac151a0f-13c4-6ff497-18d2533c-6ff497@172.21.26.15
        [Generated Call-ID: 40d4c980-ac151a0f-13c4-6ff497-18d2533c-6ff497@172.21.26.15]
        CSeq: 23243 REFER
        Via: SIP/2.0/UDP 172.21.26.136:57219;rport=57219;branch=z9hG4bK35e747f630387de7
        Supported: replaces
        Contact: <sip:7503@172.21.26.15:5060>
        Content-Length: 0


Is there anyone here with Call Transfer knowledge that can help Rodrigo ?


> * Adding "<" and ">" before and after the %s on the arg "Refer-To: %s\r\n"

Are you sure that the angle brackets makes a difference? they are only required in special cases:

Section 20 of RFC 3261 says:
```
  "The Contact, From, and To header fields contain a URI.  If the URI
   contains a comma, question mark or semicolon, the URI MUST be
   enclosed in angle brackets (< and >).  Any URI parameters are
   contained within these brackets.  If the URI is not enclosed in angle
   brackets, any semicolon-delimited parameters are header-parameters,
   not URI parameters."
```
Your good wirehshark shows that only `Referred-by...` makes the difference, right?

So the missing part is https://datatracker.ietf.org/doc/html/rfc3892
That is not implemented yet, i think.

I think I found a place there they are maybe missing: 

https://github.com/baresip/baresip/pull/2681


Hi Sebastian,

> > * Adding "<" and ">" before and after the %s on the arg "Refer-To: %s\r\n"
> 
> Are you sure that the angle brackets makes a difference? they are only required in special cases:
> 

Not sure, probably doesn't make any difference, but there is no harm on enclosing the URI, We were just eager to get it working.

> Section 20 of RFC 3261 says:
> 
> ```
>   "The Contact, From, and To header fields contain a URI.  If the URI
>    contains a comma, question mark or semicolon, the URI MUST be
>    enclosed in angle brackets (< and >).  Any URI parameters are
>    contained within these brackets.  If the URI is not enclosed in angle
>    brackets, any semicolon-delimited parameters are header-parameters,
>    not URI parameters."
> ```
> 
> Your good wirehshark shows that only `Referred-by...` makes the difference, right?
> 
> So the missing part is https://datatracker.ietf.org/doc/html/rfc3892 That is not implemented yet, i think.

Yes, I thought so too. But, as mentioned before, we were just hurrying up to get it fixed, and these were the two differences we were able to find.

But sounds like the Referred-by is a fix that should be incorporated into baresip call_transfer and call_replace_transfer. We've tested with some plataforms after and is also working - 3CX and FreeSwitch are among them.

Let me know if you need anything else.
Best regards,

Rodrigo Deppe

Well, we've tested the call_transfer without the angled brackets and works just fine,
So, I propose that the call_transfer on src/call.c line 2795 should be changed to:

"Refer-To: %s\r\nReferred-by: %s\r\n", nuri, ua_aor(call->ua));

and lines 2826 and 2827 on call_replace_transfer should be changed to:

call, "Refer-To: <%s?Replaces=%s>\r\nReferred-by: %s\r\n",
source_call->peer_uri, source_call->id, ua_aor(call->ua));

Rodrigo



Can you please make a PR with the above suggestion ?


Alfred

Done!
Closing this.