forked INVITE causes PRACKs to be sent with equal tags

Scenario:

- UAC jh@test.tutpro.com sends INVITE to test@test.tutpro.com
- sip proxy forks the INVITE to two registered UASes
- both UASes response with 180 ringing
- UAC sends PRACK to both and both PRACKs have equal tags

Issue:  second PRACK should have had To tag from the second 180 response, i.e. 149eb80cb71e5a38.
```
17:11:18.082#
TCP 192.168.238.45:56852 -> 192.168.238.215:5060
INVITE sip:test@test.tutpro.com SIP/2.0
Via: SIP/2.0/TCP 192.168.238.45:46149;branch=z9hG4bKb4f897122cc2f136;rport
Contact: <sip:jh@test.tutpro.com;gr=urn:uuid:9b21c1a8-dc58-a3d6-83d5-7be67cbe70ce>
Max-Forwards: 70
Route: <sip:siika.tutpro.com:5060;transport=tcp;lr>
To: <sip:test@test.tutpro.com>
From: "Juha" <sip:jh@test.tutpro.com>;tag=3f1a28c9ee7a4304
Call-ID: a30edcfbf0b7559c
CSeq: 51283 INVITE
User-Agent: baresip v2.7.0 (x86_64/linux)
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,PRACK,REFER
Supported: gruu,path,outbound,replaces,100rel
Content-Type: application/sdp
Content-Length: 415

...

17:11:18.162#
TCP 192.168.238.215:5060 -> 192.168.238.45:56852
SIP/2.0 180 Ringing
Record-Route: <sip:192.168.238.215;transport=tcp;lr>
Via: SIP/2.0/TCP 192.168.238.45:46149;received=192.168.238.45;branch=z9hG4bKb4f897122cc2f136;rport=56852
To: <sip:test@test.tutpro.com>;tag=331068bf5177905c
From: "Juha" <sip:jh@test.tutpro.com>;tag=3f1a28c9ee7a4304
Call-ID: a30edcfbf0b7559c
CSeq: 51283 INVITE
Server: baresip v2.7.0 (x86_64/linux)
Contact: <sip:test@test.tutpro.com;gr=urn:uuid:59f2124b-bbf0-06b4-0316-c750c420cdb3>
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,PRACK,REFER
Require: 100rel
RSeq: 22797
Content-Length: 0

call: SIP Progress: 180 Ringing (/)
alsa: reset: srate=8000, ch=1, num_frames=320, pcmfmt=S16_LE
alsa: playback started (default)

17:11:18.255#
TCP 192.168.238.45:56852 -> 192.168.238.215:5060
PRACK sip:test@test.tutpro.com;gr=urn:uuid:59f2124b-bbf0-06b4-0316-c750c420cdb3 SIP/2.0
Via: SIP/2.0/TCP 192.168.238.45:46149;branch=z9hG4bK760fa11d887974b5;rport
Max-Forwards: 70
Route: <sip:192.168.238.215;transport=tcp;lr>
To: <sip:test@test.tutpro.com>;tag=331068bf5177905c
From: "Juha" <sip:jh@test.tutpro.com>;tag=3f1a28c9ee7a4304
Call-ID: a30edcfbf0b7559c
CSeq: 51284 PRACK
User-Agent: baresip v2.7.0 (x86_64/linux)
RAck: 22797 51283 INVITE
Content-Length: 0


17:11:18.255#
TCP 192.168.238.215:5060 -> 192.168.238.45:56852
SIP/2.0 180 Ringing
Record-Route: <sip:192.168.238.215;transport=tcp;lr>
Via: SIP/2.0/TCP 192.168.238.45:46149;received=192.168.238.45;branch=z9hG4bKb4f897122cc2f136;rport=56852
To: <sip:test@test.tutpro.com>;tag=149eb80cb71e5a38
From: "Juha" <sip:jh@test.tutpro.com>;tag=3f1a28c9ee7a4304
Call-ID: a30edcfbf0b7559c
CSeq: 51283 INVITE
Server: baresip v2.7.0 (x86_64/linux)
Contact: <sip:test@test.tutpro.com;gr=urn:uuid:9b21c1a8-dc58-a3d6-83d5-7be67cbe70ce>
Allow: INVITE,ACK,BYE,CANCEL,OPTIONS,NOTIFY,SUBSCRIBE,INFO,MESSAGE,UPDATE,PRACK,REFER
Require: 100rel
RSeq: 26825
Content-Length: 0

call: SIP Progress: 180 Ringing (/)

17:11:18.255#
TCP 192.168.238.45:56852 -> 192.168.238.215:5060
PRACK sip:test@test.tutpro.com;gr=urn:uuid:9b21c1a8-dc58-a3d6-83d5-7be67cbe70ce SIP/2.0
Via: SIP/2.0/TCP 192.168.238.45:46149;branch=z9hG4bKff951fb4505a52e9;rport
Max-Forwards: 70
Route: <sip:192.168.238.215;transport=tcp;lr>
To: <sip:test@test.tutpro.com>;tag=331068bf5177905c
From: "Juha" <sip:jh@test.tutpro.com>;tag=3f1a28c9ee7a4304
Call-ID: a30edcfbf0b7559c
CSeq: 51285 PRACK
User-Agent: baresip v2.7.0 (x86_64/linux)
RAck: 26825 51283 INVITE
Content-Length: 0
```

Looks like this is not PRACK related, but in-dialog request related, since after UAC receives 200 OK from one UAS, it sends ACK with wrong To-tag.  So pretty serious stuff.

I revert previous comment.  The issue **is** PRACK related.  When I set ;100rel=no in UAC and both UAS, forked calls works fine.

I will look into it.

RFC 3262 Reliability of Provisional Responses in the Session Initiation Protocol (SIP) is full of errors https://www.rfc-editor.org/errata/rfc3262.  Errata ID: [4603](https://www.rfc-editor.org/errata/eid4603) and Errata ID: [4604](https://www.rfc-editor.org/errata/eid4604) may be relevant here.  That is, if INVITE is forked, response from each UAS creates a new dialog at the UAC. So there would be as many dialogs at the UAC as there are responding UASes.


Yep, that has always been the case. RFC 3261 [section 13.1](https://www.rfc-editor.org/rfc/rfc3261#section-13.1) says: "[...] when multiple 2xx responses are received from different remote UAs (because the INVITE forked), each 2xx establishes a different dialog.  All these dialogs are part of the same call." (the same is [true for 1xx responses](https://www.rfc-editor.org/rfc/rfc3261#section-12.1) with To tags). So I am quite confused as to how BareSIP/re has been handling forked INVITEs so far.

But forked calls work fine if PRACK is not enabled, so this issue must be somehow PRACK related.

R-URI of both PRACKs is correctly based on Contact URI of each 180 Ringing response, but second PRACK uses dialog (tags) from the first 180 Ringing response.  So is only one dialog established?

Both dialogs are technically in the "early" state, but BareSIP has no such concept. And the main problem I am seeing right now is that when re builds the request using `sip_dialog_encode()`, it does not use the dialog rtag field to set the To header, but instead uses the dialog->mb field. So updating the rtag field of the dialog struct has no effect on subsequent responses, which is quite annoying.

I really don't know anything about this, but when reading sipsess/connect.c invite_resp_handler(), there is this:
```
if (msg->scode < 200) {
		sess->progrh(msg, sess->arg);

		if (sip_msg_hdr_has_value(msg, SIP_HDR_REQUIRE, "100rel")
				&& sess->rel100_supported) {

			if (mbuf_get_left(msg->mb)) {
				if (sess->sent_offer) {
					sess->awaiting_answer = false;
					err = sess->answerh(msg, sess->arg);
					if (err)
						goto out;
				}
				else {
					sess->modify_pending = false;
					err = sess->offerh(&desc, msg,
							   sess->arg);
				}
			}

			err |= sip_dialog_established(sess->dlg) ?
					sip_dialog_update(sess->dlg, msg) :
					sip_dialog_create(sess->dlg, msg);
			err |= sipsess_prack(sess, msg->cseq.num, msg->rel_seq,
					     &msg->cseq.met, desc);
```
Is `sip_dialog_create` called for both 180 Ringing responses?

For the second 180, `sip_dialog_update` is called. For the first it is `sip_dialog_create`.

Maximilian Fridrich writes:

> For the second 180, `sip_dialog_update` is called. For the first it is
> `sip_dialog_create`.

So isn't that wrong, since there needs to be two dialogs?


Absolutely. However, the code is not designed to support multiple dialogs per call/session. E.g. sipsess would not to have a list of dlgs instead of just one. It looks like a more deeply rooted issue to me.

There might be ways to get around this though e.g. by making sip_dialog_encode use the actual rtag field instead of mb. Obviously, those would just be workarounds.

Even if PRACK would be OK after the hack, what would happen if second UAS send 200 OK response and the corresponding dialog does not exist?

My suggestion is to disable PRACK (make rel100_mode always REL100_DISABLED) until a proper fix exists with support for multiple parallel dialogs.

I'm OK with making 100rel disabled by default for now.

> what would happen if second UAS send 200 OK response and the corresponding dialog does not exist?

I think this situation is no different whether PRACK is enabled or not. I don't see a point in the code where there is ever a second dialog created.

Is there any hope to get this fixed?   Just asking if I need to create a new version of my baresip Android app where PRACK is disabled.

Maybe someone can chime in who knows how BareSIP handles forked INVITEs generally, then we could try and find a proper solution. Otherwise there might be the fix I mentioned above, which to me seems like it fixes a symptom, not the cause.

SIP dialog is established also without PRACK when 180 ringing is received.  When INVITE is parallel forked, several 180s is received, but no in-dialog request needs to be send before 200 is received from one of the UAS.  In case of PRACK, in-dialog request(s) need to be send before 200 is received,  Is this the key difference why forked INVITE works fine when PRACK is not enabled?

Yes, that sounds correct. What happens when you receive multiple 200s establishing multiple dialogs? And then you want to do a session modification like changing video direction. I think that will cause similar issues to the PRACK case.

I can still look into fixing this "symptom" mentioned above by using the rtag instead of mbuf, which sounds like a good idea anyways.

[13.2.2.1](https://www.rfc-editor.org/rfc/rfc3261.html#section-13.2.2.1) 1xx Responses
```
   Zero, one or multiple provisional responses may arrive before one or
   more final responses are received.  Provisional responses for an
   INVITE request can create "early dialogs".  If a provisional response
   has a tag in the To field, and if the dialog ID of the response does
   not match an existing dialog, one is constructed using the procedures
   defined in [Section 12.1.2](https://www.rfc-editor.org/rfc/rfc3261.html#section-12.1.2).

   The early dialog will only be needed if the UAC needs to send a
   request to its peer within the dialog before the initial INVITE
   transaction completes.  Header fields present in a provisional
   response are applicable as long as the dialog is in the early state
   (for example, an Allow header field in a provisional response
   contains the methods that can be used in the dialog while this is in
   the early state).
```
So before PRACK (and perhaps also UPDATE), there was no need to establish multiple early dialogs.

Regarding multiple 200 OKs:

[13.2.2.4](https://www.rfc-editor.org/rfc/rfc3261.html#section-13.2.2.4) 2xx Responses
```   ...
   The UAC core MUST generate an ACK request for each 2xx received from
   the transaction layer.  The header fields of the ACK are constructed
   in the same way as for any request sent within a dialog (see [Section](https://www.rfc-editor.org/rfc/rfc3261.html#section-12)
   [12](https://www.rfc-editor.org/rfc/rfc3261.html#section-12)) with the exception of the CSeq and the header fields related to
   authentication.  The sequence number of the CSeq header field MUST be
   the same as the INVITE being acknowledged, but the CSeq method MUST
   be ACK.  The ACK MUST contain the same credentials as the INVITE.  If
   the 2xx contains an offer (based on the rules above), the ACK MUST
   carry an answer in its body.  If the offer in the 2xx response is not
   acceptable, the UAC core MUST generate a valid answer in the ACK and
   then send a BYE immediately.
```
If the proxy that forked the INVITE is statefull, the UAC will only get only one 200 OK.


We have a very concrete idea of how to solve the issue:

- We add a list of dialogs to sipsess
- For every new response from a forked dialog, we create a new dialog and add it to the list
- For subsequent responses, we match the dialog based on the dialog ID and tags and send PRACK/ACKs with the correct tags.

However, this will have major implications for many parts of the code because currently sipsess only contains a single dialog. And unfortunately, at this time we don't have the resources available to fix this issue, but we have it on our TODO.

I would suggest adding the feature to the Roadmap and look into it when time permits.

The description should be something like: "Add support for SIP forking"


Alfred E. Heggestad writes:

> I would suggest adding the feature to the Roadmap and look into it
> when time permits. 
> 
> The description should be something like: "Add support for SIP
> forking"

In my opinion it is not good practice to have code in baresip that by
default is on and that we know that it doesn't work.


I agree with you both. We will think about changing the default behavior to not use 100rel. Then our devices would become a 100rel account parameter set explicitly.

I would like to suggest that "100rel" is by default disabled.

This matches the legacy behaviour. For people that wants to use 100rel they should enable the
feature explicitly in the config/account.


Yes, and better mention in account config document that 100rel does not work if call gets parallel forked.

Are you sure that this issues does to affect UPDATEs that are sent before 200 OK is received?


UPDATEs during early media are only allowed if 1xx responses have been PRACKed. So if someone wants to use this feature, they have to enable 100rel on purpose. It does not break anything in the code though.

This is a very new feature that is probably not widely used.

I will open a PR for the default setting.

Maximilian Fridrich writes:

> UPDATEs during early media are only allowed if 1xx responses have been
> PRACKed. So if someone wants to use this feature, they have to enable
> 100rel on purpose. It does not break anything in the code though.

OK, thanks.


- Updated: https://github.com/baresip/baresip/wiki/Accounts#100rel
- added to Roadmap https://github.com/baresip/baresip/wiki/Roadmap#signaling

OK, I'll close this now.

@juha-h The linked re PR that was merged yesterday should resolve this problem. Would you mind trying it out in your setup again? Then you could potentially activate the 100rel option if it benefits you.

Thanks, I tried and now PRACKs were sent with correct To tags.