call_hangup() does not terminate call when call has been answerred but not ACKed

When call is answered, but ACK has not been received yet, call_hangup() does not terminate the call, but tries to reject incoming call that has already been answered.  I suspect that this happens because the answered call is still in CALL_STATE_INCOMING state:
```
void call_hangup(struct call *call, uint16_t scode, const char *reason)
...
        switch (call->state) {
	case CALL_STATE_INCOMING:
		if (scode < 400) {
			scode = 486;
			reason = "Rejected";
		}
		info("call: rejecting incoming call from %s (%u %s)\n",
		     call->peer_uri, scode, reason);
		(void)sipsess_reject(call->sess, scode, reason, NULL);
		break;
        default:
		info("call: terminate call '%s' with %s\n",
		     sip_dialog_callid(sipsess_dialog(call->sess)),
		     call->peer_uri);
```
Perhaps a new state CALL_STATE_ANSWERED should be introduced unless it is somehow possible to find out from `struct call` that the call has been answered?  In the latter case the code would look something like:
```
        if (call->state == CALL_STATE_INCOMING && "call has not been answered yet") {
                /* reject the call */
        } else {
               /* terminate the call */
        }
```
Comments?


I tried the latter by adding `answered` boolean to `struct call`.  Then ESC produced this:
```
call: terminate call '97db3bf618ade05b' with sip:foo@test.tutpro.com
alsa: stopping recording thread (default)
alsa: stopping playback thread (default)
video: stopping video source ..
video: stopping video display ..
video: stopping video source ..
video: stopping video display ..
audio: destroyed (started=0)

audio           Transmit:     Receive:
packets:            389            0
avg. bitrate:      24.4          0.0  (kbit/s)
errors:               0            0
pkt.report:         255          233
lost:                 9            0
jitter:             1.6          4.6  (ms)
#
```
But no `BYE` was sent and `200 Answering` replies kept being sent..

Other ideas?


Perhaps the right solution would be to somehow cause the H timer to hit.  Then the call would be terminated and BYE would be sent.  So it is somehow possible to make the H timer hit before the time (32 sec) it has been configured to hit?

I looked at re tmr.c and didn't find a `tmr_expire()` function that could be used to make a timer to expire.  Would be it possible to add one?

can you please try with this option:


```
	-s               Enable SIP trace
```


the state should be correctly handled in sipsess.

if the call is answered, it will send BYE. otherwise it will send a 486 error code.





I have done that and found out that BYE is not sent until after 32 secs.  In the meanwhile 200 OKs are re-transmitted.  This is controlled by these two re/sipsess sipsess_reply_2xx() timers:
```
	tmr_start(&reply->tmr, 64 * SIP_T1, tmr_handler, reply);
	tmr_start(&reply->tmrg, SIP_T1, retransmit_handler, reply);
```
In order to get BYE sent, reply->tmr should be made to expire when user presses ESC while waiting for the ACK.

Below is -s output as an example.
```TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
ESC pressed:
call: terminate call '07c5c0a6518630c1' with sip:foo@test.tutpro.com

audio           Transmit:     Receive:
packets:            386            0
avg. bitrate:      24.3          0.0  (kbit/s)
errors:               0            0
pkt.report:         257          235
lost:                11            0
jitter:             2.0          1.7  (ms)
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
SIP/2.0 200 Answering
...
TCP 192.168.59.95:48062 -> 192.168.59.95:5060
BYE sip:foo@test.tutpro.com;gr=urn:uuid:314b31b1-d978-5ef1-4135-f3305e7fe7b3 SIP/2.0
```






so your case is an incoming call, where the client receives INVITE, then sends 200 ok, but
the final ACK is missing (network bug?) -- and the user cancels the call by pressing ESCAPE ?

it would be interesting to know why is the ACK missing ...

perhaps you can share some details about what is going on in call.c and sess.c ?
is the sipsess object destructed ?


Alfred E. Heggestad writes:

> so your case is an incoming call, where the client receives INVITE,
> then sends 200 ok, but 
> the final ACK is missing (network bug?) -- and the user cancels the
> call by pressing ESCAPE ?

Yes.

> it would be interesting to know why is the ACK missing ...

ACK is missing because of some network issue.  That is when I noticed
this issues.  The user doesn't want to wait for 32 seconds and wants to
terminate the hanging call with ESC.

> perhaps you can share some details about what is going on in call.c
> and sess.c ? is the sipsess object destructed ?

Looking at re reply.c, sipsess is not destroyed before the timer hits
and BYE is sent:

```

static void tmr_handler(void *arg)
{
	struct sipsess_reply *reply = arg;
	struct sipsess *sess = reply->sess;

	mem_deref(reply);

	/* wait for all pending ACKs */
	if (sess->replyl.head)
		return;

	/* we want to send bye */
	sess->established = true;

	if (!sess->terminated)
		sipsess_terminate(sess, ETIMEDOUT, NULL);
	else
		mem_deref(sess);
}
```

In call, this case is executed:

```
void call_hangup(struct call *call, uint16_t scode, const char *reason)
{
...
    switch (call->state) {

	case CALL_STATE_INCOMING:
		if (scode < 400) {
			scode = 486;
			reason = "Rejected";
		}
		info("call: rejecting incoming call from %s (%u %s)\n",
		     call->peer_uri, scode, reason);
		(void)sipsess_reject(call->sess, scode, reason, NULL);
		break;
```

and it does not cause destruction of sipsess.

In case CALL_STATE_INCOMING &reply->tmr should be made to expire if call
has been answered.  Then BYE would be sent and sipsess object would be
destroyed.



I made another hack: 

- exposed `close.c/sipsess_bye()` to re API
- called that in `call_hangup()` if call state is INCOMING, but has been answered:
```
void call_hangup(struct call *call, uint16_t scode, const char *reason)
{
...
	if (call->state == CALL_STATE_INCOMING) {
		if (call->answered) {
			info("call: closing answered call from %s that has not been ACKed\n",
			     call->peer_uri);
			sipsess_bye(call->sess, true);
		} else {
			if (scode < 400) {
				scode = 486;
				reason = "Rejected";
			}
			info("call: rejecting incoming call from %s (%u %s)\n",
			     call->peer_uri, scode, reason);
			(void)sipsess_reject(call->sess, scode, reason, NULL);
		}
	} else {
		info("call: terminate call '%s' with %s\n",
...
```
With those changes, baresip sends BYE at ESC (which is anwered by 200 OK), but does not stop sending 200 OKs to the original INVITE.

 In my opinion this is better than the current bogus call of sipses_reject().

A real fix is, of course, welcome.


So the question is, how to close the session after sipsess_bye() that would then also terminate sending of the 200 OK?


From RFC 3261 section 13:

   A 2xx response to an INVITE establishes a session, and it also
   creates a dialog between the UA that issued the INVITE and the UA
   that generated the 2xx response.

thanks, I dont remember the details of sipsess implementation.

it looks like the best solution is to just force sending of BYE.
this means exposing a function in the api.



Alfred E. Heggestad writes:

> it looks like the best solution is to just force sending of BYE.
> this means exposing a function in the api.

It would be still better if also re-sending of the 200 OKs could be
stopped, i.e., if reply->tmrg could be canceled.  I'll try to
investigate.




I was able to also stop re-sending of 200 OKs by exposing to re API sess.c `terminate` function and by calling that after `sipsess_bye`:
```
	if (call->state == CALL_STATE_INCOMING) {
		if (call->answered) {
			info("call: closing answered call from %s that has not been ACKed\n",
			     call->peer_uri);
			sipsess_bye(call->sess, true);
                        terminate(call->sess);
		} else {
        ...
```
It doesn't look good though.  There exists in sess.c sipsess_termniate function, which would be better, but it requires sip_msg argument that I didn't find available in call_hangup function:
```
void sipsess_terminate(struct sipsess *sess, int err,
		       const struct sip_msg *msg)
```


Added new re API function sipsess_abort() and used it in call_hangup() to hang up call that has been answered, but not ACKed.  Waiting for comments or commit mergers.