Mismatched RTP extension numbering with BUNDLE

Hi,

Just noticed that when making a BUNDLE offer with audio + video, the extension number for the `mid` header extension comes out different in the two medias:

```
v=0
o=- 1402271654 207750402 IN IP4 192.168.1.66
s=-
c=IN IP4 192.168.1.66
t=0 0
a=group:BUNDLE 0 1
m=audio 14636 RTP/AVP 96 97 98 9 0 8 101
a=rtpmap:96 opus/48000/2
a=fmtp:96 stereo=1;sprop-stereo=1;maxaveragebitrate=28000
a=rtpmap:97 AMR-WB/16000
a=rtpmap:98 AMR/8000
a=rtpmap:9 G722/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=sendrecv
a=rtcp-rsize
a=ssrc:4176964064 cname:sip:43991002@192.168.1.168
a=mid:0
a=minptime:20
a=ptime:20
a=label:1
a=extmap:2 urn:ietf:params:rtp-hdrext:sdes:mid                   <<<<<<<<<<<<<<<<<<<
m=video 41680 RTP/AVP 96 97 98 99 100
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=0;profile-level-id=42e01f
a=rtpmap:97 H264/90000
a=fmtp:97 packetization-mode=1;profile-level-id=42e01f
a=rtpmap:98 H265/90000
a=fmtp:98 profile-id=1
a=rtpmap:99 VP8/90000
a=fmtp:99 max-fs=8100
a=rtpmap:100 VP9/90000
a=fmtp:100 max-fs=3600;profile-id=0
a=sendrecv
a=rtcp-rsize
a=ssrc:12321916 cname:sip:43991002@192.168.1.168
a=mid:1
a=framerate:25.00
a=rtcp-fb:* nack
a=rtcp-fb:* nack pli
a=content:main
a=label:2
a=extmap:1 urn:ietf:params:rtp-hdrext:sdes:mid                    <<<<<<<<<<<<<<<<<<<
```

My understanding of RFC 8843 section 12 is that the identifier "must" be the same across all bundled medias.

hi

Thanks for your report. I think you are correct about this.

Currently each stream (audio or video) has its own extmap counter, so there is
no "per session" counter.

The audio stream also has another extension supported, the audio level ext.



Could you please test this proposed fix:
https://github.com/baresip/baresip/pull/3497

As a workaround, you can also disable `audio_level no`


@alfredh seems to work, thanks!

Thanks for reporting and testing!